<html>
<head>
	<title></title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="./js/preview.js"></script>
	<link rel="stylesheet" href="./css/macy-base.css" type="text/css" />


	
</head>
<body>
<div id="header"><img src="./images/header.png"/></div>

<div id="globalContentContainer" style="width:960px;margin:0 auto;">
</div>
<div id="footer" style="margin-top:30px;">
	<img src="./images/footer.png"/>
</div>
</body>
</html>