<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.6/interact.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script type="text/javascript" src="./js/main.js"></script>
	<script type="text/javascript" src="./js/export.js"></script>
	<script type="text/javascript" src="./js/preview.js"></script>

	<script type="text/javascript" src="./js/dropzone.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="./css/main.css"/>
	<link rel="stylesheet" type="text/css" href="./css/sidebar.css"/>
	<link rel="stylesheet" type="text/css" href="./css/imgDiv.css"/>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
</head>
<body>
	<div class="container-fluid macys-nav">
		<div class="row">
			<div class="col-md-4">
				<img id="logo" src="./images/logo.png" />
			</div>
			<div class="col-md-5">
				<div style="margin-top:2.5em;">
					<ul id="config-list">
						<li class="file-info"><p>Live Date:<input class="pding-lft" id="Live Date" type="text" placeholder="e.g. 04.27.2016"/></p></li>
						<li class="file-info"><p>File Name:<input class="pding-lft" id="File Name" type="text" placeholder="e.g. 0402716_hp_int"/></p></li>

					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<ul class="actions">
		        <li class="action-li"><a  href="/preview" target="_blank">
		            <!-- <i class="fa fa-power-off fa-2x"></i> -->
		            <span class="nav-text"><button id="preview" class="btn">Preview Page</button></span>
		        </a></li>
		         <li class="action-li"><a href="#" target="_blank">
		            <!-- <i class="fa fa-power-off fa-2x"></i> -->
		            <span class="nav-text"><button id="export"class="btn">Export</button></span>
		        </a></li>
		    </ul>
			</div>
		</div>

	</div>
	<div id="mainDiv">
		<div id="imgDiv">
			<div id="imgListCont">
			<div id="fileDiv"><form id="dzForm" class="dropzone" action="/upload" method="post"></form></div>
			<ul id="imgList">
			</ul>
			</div>

		</div>
		<div></div>
		<div id="contentDiv" class="area">
			
			<div id="layoutDiv">
				<ul id="imgMainList">
				</ul>
			</div>
		
			<div id="infoDiv">
				<!-- <div style="background-color:white;border-radius:5px;width:40%"> -->
					<h3 id="attr-title">Attributes:</h3>
					<div ><p class="attrTagging"><span >Alt:</span> <input id="altInput" type="text"/></p>
						<p class="attrTagging"><span>Url: </span> <input id="altInput" type="text"/></p>
					</div>
				<!-- </div> -->
				
				
			</div>


		</div>
		<nav id="rightNav" class="main-menu">
		    <ul>
		        <li><a id="drawRect" href="#">
		            <i class="fa fa-home fa-2x"></i>
		            <span class="nav-text">Draw Rectangle</span>
		        </a></li>
		        <li class="has-subnav"><a id="selectA" href="#">
		            <i class="fa fa-laptop fa-2x"></i>
		            <span class="nav-text">Select Tool</span>
		        </a></li>
		        <li class="has-subnav"><a href="#">
		            <i class="fa fa-list fa-2x"></i>
		            <span class="nav-text">Forms</span>
		        </a></li>
		        <li class="has-subnav"><a href="#">
		            <i class="fa fa-folder-open fa-2x"></i>
		            <span class="nav-text">Pages</span>
		        </a></li>
		        <li><a href="#">
		            <i class="fa fa-bar-chart-o fa-2x"></i>
		            <span class="nav-text">Graphs and Statistics</span>
		        </a></li>
		        <li><a href="#">
		            <i class="fa fa-font fa-2x"></i>
		            <span class="nav-text">Typography and Icons</span>
		        </a></li>
		        <li><a href="#">
		            <i class="fa fa-table fa-2x"></i>
		            <span class="nav-text">Tables</span>
		        </a></li>
		        <li><a href="#">
		            <i class="fa fa-map-marker fa-2x"></i>
		            <span class="nav-text">Maps</span>
		        </a></li>
		        <li><a href="#">
		            <i class="fa fa-info fa-2x"></i>
		            <span class="nav-text">Documentation</span>
		        </a></li>
		    </ul>
		 
		</nav>
	</div>
</body>