#imgDiv {
	height: 100%;
	float: left;
	overflow-y: auto;
	overflow-x: hidden;
	width: 20%;
	background-color:white;
	border-right:2px solid #ccc;
	/*border:5px dashed grey;*/
	/*background-color:rgb(236,240,241);*/
}
#imgDiv img, #layoutDiv img {
	width: 100%;
	-webkit-transform: translate(0px, 0px);x
	transform: translate(0px, 0px);x
}
.temp {
	-webkit-animation: glow1 1s ease-in-out infinite;
	animation: glow1 1s ease-in-out infinite;
}
@-webkit-keyframes glow1 {50% { box-shadow: 0 0 30px blue; }}
@keyframes glow1 {50% { box-shadow: 0 0 30px blue; }}
#imgMainList {
	width: 100%;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#imgMainList li {float: left;}
#imgMainList li:last-child {margin-bottom: 10px;}
li.selected {
	position: relative;
	z-index: 2;
	-webkit-animation: glow2 1s ease-in-out infinite;
	animation: glow2 1s ease-in-out infinite;
}
@-webkit-keyframes glow2 {50% { box-shadow: 0 0 10px blue; }}
@keyframes glow2 {50% { box-shadow: 0 0 10px blue; }}
#layoutDiv ul, #layoutDiv li { margin: 0; }
.rect {
	border: 1px dashed black;
	background-color: #0ff;
	opacity: 0.4;
	position: absolute;
	z-index: 3;
	width: 25px;
	height: 25px;
}
.resize-drag {
  box-sizing: border-box;
}