.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#imgDiv { height: 100%; float: left; overflow-y: auto; width: 20%;}
#imgDiv img { width: 100%; }
#imgDiv li { position: relative; }
#imgDiv li:hover div { display: block;
	background-color: black;
	opacity: 0.9;
	color: white;
	text-align: center;
	cursor: move;
}
#imgDiv span {
	position: relative;
	font-size: 1.5em;
	top: 45%;
}
#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}